*.sdf
*.opendb
Code Resonance/Game Engine/bin/Debug/
Code Resonance/Game Engine/bin/Release/
Code Resonance/Map Editor/bin/Debug/
Code Resonance/Map Editor/bin/Release/
*.user
Code Resonance/Code Resonance.sdf
Code Resonance/Code Resonance.sdf